.caption {
  color: #111;
  display: inline-block;
  font-weight: bold;
  min-width: 64px;
  text-align: right;
}

#navigation a {
  color: #666 !important;
}

#navigation a:hover {
  color: #333 !important;
}

#navigation a label {
  cursor: pointer !important;
}

.blog-post {
  margin: 0px 0px 24px 0px;
}

.blog-post .title {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 4px;
  outline: 1px solid green !important;
}

.blog-post .blog-date {
  color: rgb(100, 100, 100) !important;
  float: left;
  outline: 1px solid red !important;
}

a.highlight {
  border-bottom: none !important;
}

code {
  color: #b97208;
  display: inline-block;
  margin: 0 2px !important;
  padding-left: 0px !important;
}

h1 {
  font-size: 3rem !important;
  line-height: 1.2em !important;
  text-align: left !important;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

p {
  line-height: 26px;
}

pre {
  outline: 1px solid #cdcdcd;
}
