.main {
    padding: 64px;
}

.docs-sidenav {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 42px;
}

.highlight pre {
    border-radius: 11px 0px 0px 11px;
}

.quick-start {
    font-size: 18px;
    font-weight: bold !important;
    width: 200px !important;
}

.quick-start img {
    margin-right: 8px;
}

.navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.docs-sidenav .navbar-nav .nav-item .nav-link {
    color:rgba(0, 0, 0, 0.7) !important;
}

.centered {
    text-align: center;
}

/* -------------------- Nav Bar -------------------- */

.navbar-brand {
    font-family: "Nunito sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand img {
    margin-right: 12px;
}

/* -------------------- Headers -------------------- */

h1 {
    color: rgb(42, 67, 101);
    font-size: 42;
    font-weight: bold;
}

h2 {
    color: rgb(42, 67, 101);
    font-size: 36;
    font-weight: bold;
    margin-bottom: 18px;
}

/* -------------------- Call to Action -------------------- */

.call-to-action {
    display: table;
    font-size: 18px;
    overflow: auto;
    margin: 32px 0px 0px 0px;
    width: 100%;

    .cta-row {
        display: table-row;

        .cta-text {
            border-radius: 11px 0px 0px 11px;
            background-color: #c13d77;
            color: white;
            display: table-cell;
            padding: 15px 12px 14px 12px;
            text-align: left;
            vertical-align: top;
            width: 90%;

            a {
                color: white !important;
                font-weight: bold;
            }
        }

        .cta-link {
            background-color: #1ea1f3;
            border-radius: 0px 11px 11px 0px;
            color: white;
            display: table-cell;
            float: left;
            padding: 4px;
            text-align: center;
        }
    }
}

/* -------------------- Cards -------------------- */

.card-title {
    letter-spacing: 1px;

    img {
        float: left;
        padding-right: 8px;
    }
}

/* --------------------- Blog -------------------- */

.blog-post {
    clear: both;
    line-height: 21px;
    margin: 8px 0;
}

.blog-post .blog-date {
    color: rgb(42, 67, 101);
    font-size: 14px;
    font-weight: bold;
    float: left;
    min-width: 120px;
}

.blog-spacer {
    clear: both;
    margin: 8px 0;
    height: 12px;
    min-height: 12px;
}